html,body {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
@font-face{
	font-family: OSWALD;
	src: url(./assets/font/OSWALD.otf);
}
@font-face{
	font-family: Comfortaa-Light;
	src: url(./assets/font/Comfortaa-Light.ttf);
}
@font-face{
	font-family: Roboto;
	src: url(./assets/font/roboto/Roboto.ttf);
}
@font-face{
	font-family: Roboto-Bold;
	src: url(./assets/font/roboto/Roboto-Bold.ttf);
}
@font-face{
	font-family: Roboto-Thin;
	src: url(./assets/font/roboto/Roboto-Thin.ttf);
}
@font-face{
	font-family: Roboto-Italic;
	src: url(./assets/font/roboto/Roboto-Italic.ttf);
}
@font-face{
	font-family: Roboto-Light;
	src: url(./assets/font/roboto/Roboto-Light.ttf);
}
@font-face{
	font-family: Roboto-Medium;
	src: url(./assets/font/roboto/Roboto-Medium.ttf);
}
header {
	width: 100vw;
	height: 50px;
	background: #fff;
	display: inline-block;
	position: fixed;
	box-sizing: border-box;
	box-shadow: 0 0 30px #000;
}
nav {
	width: 100vw;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
header ul {
	display: flex;
	justify-content: flex-start;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	left: 0;
}
header ul li {
	list-style: none;
	position: relative;
	padding: 5px;
	transition: 0.5s;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
}
header ul li a {
	text-decoration: none;
	padding: 0 10px;
	color: #000;
	font-family: Roboto-Light;
	height: 50px;
	display: inline-block;
	line-height: 50px;
}
header ul li a:hover {
	color: #fff;
	background: #2196f3;
	transform: 0.5s ease;
}
.navbar ul li {
	position: relative;
	display: flex;
	transition: 0.5s;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.navbar ul li a {
	font-family: Roboto-Light;
	display: block;
}
.navbar ul li ul {
	position: absolute;
	display: block;
	font-family: Roboto-Light;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	background: #fff;
}
.navbar ul li:hover ul {
	opacity: 1;
	visibility: visible;
}
.logo {
	position: relative;
	margin: 0 170px;
}
.logo img {
	margin-top: -7px;
}
.search {
	height: 50px;
	width: 250px;
}
.search input {
	height: 40px;
	width: 250px;
	margin-top: 5px;
	border-radius: 2px;
	border: none;
	border: 1px solid #0005;
	transition: 0.75s;
	font-family: Comfortaa-Light;
	font-size: 13px; 
	padding-left: 10px;
}
.search input:hover {
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.search input::-webkit-input-placeholder {
	position: relative;
	font-size: 15px;
	color: #0009;
	padding-left: 10px;
}
.search input:hover::-webkit-input-placeholder {
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}
.languages {
	position: relative;
	float: right;
	width: 50px;
	height: 100px;
	margin-left: 10px;
}
.languages ul {
	display: flex;
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
	left: 0;
}
.languages ul li {
	position: relative;
	display: block;
	transition: 0.5s;
	box-sizing: border-box;

}
.languages ul li a {
	font-family: Roboto-Light;
	display: inline-block;
}
.languages ul li ul {
	position: absolute;
	display: block;
	font-family: Roboto-Light;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	background: #fff;
}
.languages ul li:hover ul {
	opacity: 1;
	visibility: visible;
}
.login {
	float: right;
	right: 0;
}
.login ul {
	font-family: Roboto-Light;
	line-height: 50px; 
}
.login ul li {
	display: block;
}
.login span:hover {
	color: #0008;
}
.login ul li a {
	font-weight: 900;
	text-decoration: none;
	color: #0009;
	display: inline-block;
}
.login ul li a:hover {
	color: #fff;
}
.banner {
	width: 100%;
	height: 550px;
}
.slidershow {
	width: 100%;
	height: 95vh;
	overflow: hidden;
	z-index: 100;
} 
.navigasi {
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	z-index: 100;
}
.bar {
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
	transform: 0.4s;
	border-radius: 100%;
}
.bar:hover {
	background: #2196f3;
}
input[name="r"] {
	position: absolute;
	visibility: hidden;
}
.slides {
	width: 500%;
	height: 100%;
	display: flex;
}
.slide {
	width: 20%;
	transition: 0.6s;
}
.slide img {
	width: 100%;
	height: 100%;
}
#r1:checked ~ .s1 {
	margin-left: 0;
}
#r2:checked ~ .s1 {
	margin-left: -20%;
}
#r3:checked ~ .s1 {
	margin-left: -40%;
}
#r4:checked ~ .s1 {
	margin-left: -60%;
}
#r5:checked ~ .s1 {
	margin-left: -80%;
}
.diskWhite {
	position: relative;
	width: 350px;
	height: 270px;
	background: transparent;
	margin-right: 0;
	margin-top: -440px;
	margin-left: 425px;
}
.textdisk  {
	position: relative;
	width: 330px;
	height: 250px;
	background: transparent;
	justify-content: center;
	text-align: center;
	border: 2px dashed #0005;
	margin-left: 8px;
	margin-top: 7.5px;
}
.textdisk h5 {
	font-family: Comfortaa-Light;
	color: #0008;
	font-size: 1em;
}
.textdisk h1 {
	color: #0009;
	font-size: 3em;
	line-height: 15px;
	font-family: Roboto-Bold;
	text-transform: uppercase;
}
.textdisk div.left {
	position: relative;
	float: left;
	width: 100px;
	height: 5px;
	background: #000;
	margin-left: 30px;
}
.textdisk div.right {
	position: relative;
	float: right;
	width: 100px;
	height: 5px;
	background: #000;
	margin-right: 30px;
}
.textdisk #text {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.3em;
	margin-left: 6px;
	margin-top: -10px;
	font-family: Roboto-Bold;
}
.textdisk h2 {
	position: absolute;
	float: left;
	font-size: 5em;
	margin-left: 90px;
	line-height: 20px;
	font-family: Roboto-Light;
	color: #0009;
}
.hotCollection {
	width: 100%;
	height: 550px;
}
.hotCollection.bgWhite {
	background: #fff; 
}
.hotCollection.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 500px;
	height: 2px;
	background: #0009;
	margin-top: 100px;
}
.hotCollection.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 500px;
	height: 2px;
	background: #0009;
	margin-top: 100px;
}
.hotCollection.bgWhite #text1 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.1em;
	font-family: ;
	text-align: center;
	margin-top: 90px;
	margin-left: 15px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.colImg {
	float: left;
	position: relative;
	width: 100%;
	height: 500px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.colImg .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;
	
}
.colImg .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.colImg .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.colImg .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.colImg .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.colImg .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.colImg .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.colImg .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.colImg .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.colImg .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.colImg .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.colImg .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.colImg .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.colImg .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.colImg .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.colImg .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.colImg .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.colImg .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.colImg .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.colImg .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.colImg .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.colImg .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.colImg .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.newArrival {
	margin-top: 50px;
}
.newArrival.bgWhite {
	background: #fff; 
}
.newArrival.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.newArrival.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.newArrival.bgWhite #text2 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.3em;
	margin-top: 40px;
	margin-left: 21px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.newArrival {
	width: 100%;
	height: 500px;
}
.newIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.newIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.newIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.newIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.newIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.newIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.newIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.newIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.newIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.newIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.newIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.newIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.newIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.newIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.newIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.newIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.newIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.newIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.newIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.newIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.newIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.newIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.newIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.newIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.allClothing {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}
.allClothing.bgWhite {
	background: #fff; 
}
.allClothing.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.allClothing.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.allClothing.bgWhite #text3 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 15px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.allIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.allIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.allIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.allIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.allIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.allIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.allIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.allIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.allIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.allIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.allIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.allIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.allIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.allIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.allIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.allIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.allIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.allIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.allIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.allIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.allIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.allIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.allIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.allIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.brandsAZ {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}
.brandsAZ.bgWhite {
	background: #fff; 
}
.brandsAZ.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.brandsAZ.bgWhite #text4 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 35px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.brandsIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.brandsIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.brandsIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.brandsIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.brandsIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.brandsIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.brandsIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.brandsIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.brandsIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.brandsIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.brandsIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.brandsIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.brandsIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.brandsIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.brandsIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.brandsIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.brandsIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.brandsIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.brandsIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.brandsIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.brandsIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.brandsIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.brandsIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.brandsIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.coats {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}
.coats.bgWhite {
	background: #fff; 
}
.coats.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.coats.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.coats.bgWhite #text5 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 55px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.coatsIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.coatsIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.coatsIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.coatsIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.coatsIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.coatsIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.coatsIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.coatsIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.coatsIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.coatsIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.coatsIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.coatsIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.coatsIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.coatsIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.coatsIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.coatsIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.coatsIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.coatsIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.coatsIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.coatsIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.coatsIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.coatsIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.coatsIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.coatsIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.jacket {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}
.jacket.bgWhite {
	background: #fff; 
}
.jacket.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.jacket.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.jacket.bgWhite #text6 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 55px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.jacketIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.jacketIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.jacketIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.jacketIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.jacketIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.jacketIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.jacketIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.jacketIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.jacketIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.jacketIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.jacketIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.jacketIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.jacketIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.jacketIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.jacketIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.jacketIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.jacketIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.jacketIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.jacketIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.jacketIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.jacketIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.jacketIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.jacketIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.jacketIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.tops {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}
.tops.bgWhite {
	background: #fff; 
}
.tops.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.tops.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.tops.bgWhite #text7 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 55px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.topsIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.topsIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.topsIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.topsIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.topsIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.topsIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.topsIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.topsIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.topsIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.topsIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.topsIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.topsIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.topsIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.topsIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.topsIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.topsIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.topsIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.topsIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.topsIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.topsIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.topsIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.topsIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.topsIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.topsIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.trausers {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}
.tops.bgWhite {
	background: #fff; 
}
.trausers.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.trausers.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 510px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.trausers.bgWhite #text8 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 40px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.trausersIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.trausersIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.trausersIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.trausersIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.trausersIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.trausersIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.trausersIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.trausersIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.trausersIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.trausersIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.trausersIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.trausersIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.trausersIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.trausersIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.trausersIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.trausersIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.trausersIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.trausersIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.trausersIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.trausersIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.trausersIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.trausersIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.trausersIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.trausersIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.traditional {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}
.traditional.bgWhite {
	background: #fff; 
}
.traditional.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.traditional.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.traditional.bgWhite #text9 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 25px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.traditionalIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.traditionalIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.traditionalIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.traditionalIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.traditionalIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.traditionalIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.traditionalIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.traditionalIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.traditionalIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.traditionalIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.traditionalIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.traditionalIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.traditionalIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.traditionalIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.traditionalIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.traditionalIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.traditionalIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.traditionalIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.traditionalIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.traditionalIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.traditionalIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.traditionalIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.traditionalIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.traditionalIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.skirt {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}
.skirt.bgWhite {
	background: #fff; 
}
.skirt.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.skirt.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.skirt.bgWhite #text10 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 25px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.skirtIMG {
	float: left;
	position: relative;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.skirtIMG .next {
	float: right;
	padding: 0 10px;
	transition: 0.5s;
	font-family: Comfortaa-Light;
	box-sizing: border-box;	
}
.skirtIMG .next p {
	margin-top: 40px;
	font-weight: 900;
	color: #0008;
	transition: 0.5s;
	font-family: Comfortaa-Light;
}
.skirtIMG .next p:hover {
	color: #0009;
	transition: 0.5s;
	transform: scale(1.3	);
}
.skirtIMG .k1 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
	font-family: Comfortaa-Light;
}
.skirtIMG .k1:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.skirtIMG .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.skirtIMG .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.skirtIMG .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.skirtIMG .k2 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.skirtIMG .k2:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.skirtIMG .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.skirtIMG .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.skirtIMG .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.skirtIMG .k3 {
	float: left;
	width: 288px;
	height: 400px;
	margin-top: 80px;
	background: #fff;
	box-shadow: 0 0 5px;
	margin-right: 15px;
	border-radius: 2px;
}
.skirtIMG .k3:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.skirtIMG .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.skirtIMG .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;	
}
.skirtIMG .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.skirtIMG .k4 {
	float: left;
	width: 288px;
	height: 300px;
	height: 400px;
	margin-top: 6px;
	background: #fff;
	box-shadow: 0 0 5px;
	border-radius: 2px;
}
.skirtIMG .k4:hover {
	transition: 0.5s;
	transform: scale(1.05);
}
.skirtIMG .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.skirtIMG .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
}
.skirtIMG .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.view {
	position: relative;
	margin: 0 555px;
	margin-top: 100px;
	transition: 0.75s;
}
.view a {
	transition: 0.75s;
	text-decoration: none;
}
.view p {
	color: #0008;
	font-family: Roboto-Bold;
}
.view p:hover {
	color: #0009;
	transform: scale(1.2);
	transition: 0.75s;
}
.readmore {
	width: 100%;
	height: 100vh;
	float: left;
}
.readmore.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 520px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 520px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite #text3 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.3em;
	margin-top: 35px;
	margin-left: 21px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.product {
	position: absolute;
	float: left;
	margin-top: 100px;
}
.product h1 {
	font-family: Roboto;
}
.product h3 {
	font-family: Comfortaa-Light;
}
.product h3 a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
}
.brands {
	position: absolute;
	float: left;
	margin-top: 100px;
	margin-left: 200px;
}
.brands h1 {
	font-family: Roboto;
}
.brands h3 {
	font-family: Comfortaa-Light;
}
.brands h3 a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
}
.support {
	position: absolute;
	float: left;
	margin-top: 100px;
	margin-left: 400px;
}
.support h1 {
	font-family: Roboto;
}
.support h3 {
	font-family: Comfortaa-Light;
}
.support h3 a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
}
.featured {
	position: absolute;
	float: left;
	margin-top: 300px;
}
.featured h1 {
	font-family: Roboto;
}
.featured h3 {
	font-family: Comfortaa-Light;
}
.featured h3 a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
}
.message {
	position: relative;
	float: right;
	margin-top: -530px;
	margin-right: 100px;
}
.message h1 {
	font-family: Roboto;
}
.message h3 {
	font-family: Comfortaa-Light;
	line-height: 30px;
}
.message h3 a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.message input {
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: 0 0 10px #0009;
	border-radius: 5px;
	transition: 0.75s;
}
.message input:hover {
	border: none;
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.message input::-webkit-input-placeholder {
	position: relative;
	font-size: 13px;
	color: #0009;
	padding-left: 10px;
	border: none;
}
.message input:hover::-webkit-input-placeholder {
	border: none;
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}
.mens {
	float: left;
	margin-top: 40px;
	box-shadow: 0 0 5px #0009;
	border: none;
	border-radius: 2px;
}
.mens button {
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 2px;
	background: #fff;
	cursor: pointer;
}
.mens button:hover {
	background: #0005;
	transition: 0.75s;
}
.mens button a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
	font-family: Comfortaa-Light;
}
.Women {
	float: right;
	margin-top: 40px;
	box-shadow: 0 0 5px #0009;
	border: none;
	border-radius: 2px;
}
.Women button {
	transition: 0.75s;
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 2px;
	background: #fff;
	cursor: pointer;
}
.Women button:hover {
	background: #0005;
	transition: 0.75s;
}
.Women button a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
	font-family: Comfortaa-Light;
}	
