body {
	padding: 0;
	margin: 0;
}
@font-face{
	font-family: Comfortaa-Light;
	src: url(../assets/font/Comfortaa-Light.ttf);
}
@font-face{
	font-family: Roboto-Thin;
	src: url(../assets/font/roboto/Roboto-Thin.ttf);
}
@font-face{
	font-family: Roboto-ThinItalic;
	src: url(../assets/font/roboto/Roboto-ThinItalic.ttf);
}
@font-face{
	font-family: Roboto-Light;
	src: url(../assets/font/roboto/Roboto-Light.ttf);
}
header {
	width: 100vw;
	height: 50px;
	background: #fff;
	display: inline-block;
	position: fixed;
	box-sizing: border-box;
	box-shadow: 0 0 10px #000;
	top: 0;
}
nav {
	width: 100vw;
}
header ul {
	display: flex;
	justify-content: flex-start;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	left: 0;
}
header ul li {
	list-style: none;
	position: relative;
	padding: 5px;
	transition: 0.5s;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
}
header ul li a {
	text-decoration: none;
	padding: 0 10px;
	color: #000;
	font-family: Roboto-Light;
	height: 50px;
	display: inline-block;
	line-height: 50px;
}
header ul li a:hover {
	color: #fff;
	background: #2196f3;
	transform: 0.5s ease;
}
.navbar ul li {
	position: relative;
	display: flex;
	transition: 0.5s;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.navbar ul li a {
	font-family: Roboto-Light;
	display: block;
}
.navbar ul li ul {
	position: absolute;
	display: block;
	font-family: Roboto-Light;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	background: #fff;
}
.navbar ul li:hover ul {
	opacity: 1;
	visibility: visible;
}
.logo {
	position: relative;
	margin: 0 170px;
}
.logo img {
	margin-top: -7px;
}
.search {
	height: 50px;
	width: 250px;
}
.search input {
	height: 40px;
	width: 250px;
	margin-top: 5px;
	border-radius: 2px;
	border: none;
	border: 1px solid #0005;
	transition: 0.75s;
	font-family: Comfortaa-Light;
	font-size: 13px; 
	padding-left: 10px;
}
.search input:hover {
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.search input::-webkit-input-placeholder {
	position: relative;
	font-size: 15px;
	color: #0009;
	padding-left: 10px;
}
.search input:hover::-webkit-input-placeholder {
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}
.languages {
	position: relative;
	float: right;
	width: 50px;
	height: 100px;
	margin-left: 10px;
}
.languages ul {
	display: flex;
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
	left: 0;
}
.languages ul li {
	position: relative;
	display: block;
	transition: 0.5s;
	box-sizing: border-box;

}
.languages ul li a {
	font-family: Roboto-Light;
	display: inline-block;
}
.languages ul li ul {
	position: absolute;
	display: block;
	font-family: Roboto-Light;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	background: #fff;
}
.languages ul li:hover ul {
	opacity: 1;
	visibility: visible;
}
.login {
	float: right;
	right: 0;
}
.login ul {
	font-family: Roboto-Light;
	line-height: 50px; 
}
.login ul li {
	display: block;
}
.login span:hover {
	color: #0008;
}
.login ul li a {
	font-weight: 900;
	text-decoration: none;
	color: #0009;
	display: inline-block;
}
.login ul li a:hover {
	color: #fff;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}
.txt {
	width: 100%;
	height: 30px;
	margin-top: 100px;
}
.txt h1 {
	font-family: Roboto-ThinItalic;
	text-align: center;
}
.promo {
	font-family: Roboto-Thin;
	margin: 0 auto;
}
.promo .k1 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
}
.promo .k1:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k1 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k1 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k1 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k2 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 26px;
}
.promo .k2:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k2 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k2 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k2 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k3 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 27px;

}
.promo .k3:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k3 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k3 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k3 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k4 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 26px;

}
.promo .k4:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k4 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k4 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k4 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k5 {
	margin-top: 30px;
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
}
.promo .k5:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k5 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k5 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k5 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k6 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 26px;
	margin-top: 30px;
}
.promo .k6:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k6 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k6 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k6 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k7 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 27px;
	margin-top: 30px;
}
.promo .k7:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k7 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k7 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k7 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k8 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 26px;
	margin-top: 30px;
}
.promo .k8:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k8 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k8 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k8 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k9 {
	margin-top: 30px;
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
}
.promo .k9:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k9 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k9 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k9 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k10 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 26px;
	margin-top: 30px;
}
.promo .k10:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k10 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k10 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k10 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k11 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 27px;
	margin-top: 30px;
}
.promo .k11:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k11 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k11 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k11 h5 {
	margin-top: -10px;
	margin-left: 20px;
}
.promo .k12 {
	float: left;
	width: 250px;
	height: 370px;
	background: #fff;
	margin-left: 26px;
	margin-top: 30px;
}
.promo .k12:hover {
	transition: 0.5s;
	transform: scale(1.03);
	overflow: hidden;
}
.promo .k12 img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
}
.promo .k12 h3 {
	margin-top: 10px;
	margin-left: 20px;
	
}
.promo .k12 h5 {
	margin-top: -10px;
	margin-left: 20px;
}

.readmore {
	width: 100%;
	height: 100vh;
	float: left;
}
.readmore.bgWhite div.left1 {
	float: left;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite div.right1 {
	float: right;
	position: relative;
	width: 450px;
	height: 2px;
	background: #0009;
	margin-top: 50px;
}
.readmore.bgWhite #text3 {
	position: relative;
	float: left;
	color: #0009;
	font-size: 1.3em;
	margin-top: 35px;
	margin-left: 21px;
	font-family: Comfortaa-Light;
	font-weight: 1000;
}
.product {
	position: absolute;
	float: left;
	margin-top: 100px;
}
.product h1 {
	font-family: Roboto;
}
.product h3 {
	font-family: Comfortaa-Light;
}
.product h3 a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
}
.brands {
	position: absolute;
	float: left;
	margin-top: 100px;
	margin-left: 230px;
}
.brands h1 {
	font-family: Roboto;
}
.brands h3 {
	font-family: Comfortaa-Light;
}
.brands h3 a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
}
.support {
	position: absolute;
	float: left;
	margin-top: 100px;
	margin-left: 430px;
}
.support h1 {
	font-family: Roboto;
}
.support h3 {
	font-family: Comfortaa-Light;
}
.support h3 a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
}
.featured {
	position: absolute;
	float: left;
	margin-top: 300px;
}
.featured h1 {
	font-family: Roboto;
}
.featured h3 {
	font-family: Comfortaa-Light;
}
.featured h3 a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
}
.message {
	position: relative;
	float: right;
	margin-top: 50px;
	margin-right: 0;
}
.message h1 {
	font-family: Roboto;
}
.message h3 {
	font-family: Comfortaa-Light;
	line-height: 30px;
}
.message h3 a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.message input {
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: 0 0 10px #0009;
	border-radius: 5px;
	transition: 0.75s;
}
.message input:hover {
	border: none;
	color: #0009;
	padding-left: 5px;
	transition: 0.75s;
	font-size: 13px; 
	padding-left: 20px;
	font-family: Comfortaa-Light;
}
.message input::-webkit-input-placeholder {
	position: relative;
	font-size: 13px;
	color: #0009;
	padding-left: 10px;
	border: none;
}
.message input:hover::-webkit-input-placeholder {
	border: none;
	transition: 0.5s;
	padding-left: 30px;
	font-family: Comfortaa-Light;
	color: #0009;
}
.mens {
	float: left;
	margin-top: 40px;
	box-shadow: 0 0 5px #0009;
	border: none;
	border-radius: 2px;
}
.mens button {
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 2px;
	background: #fff;
	cursor: pointer;
}
.mens button:hover {
	background: #0005;
	transition: 0.75s;
}
.mens button a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
	font-family: Comfortaa-Light;
}
.Women {
	float: right;
	margin-top: 40px;
	box-shadow: 0 0 5px #0009;
	border: none;
	border-radius: 2px;
}
.Women button {
	transition: 0.75s;
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 2px;
	background: #fff;
	cursor: pointer;
}
.Women button:hover {
	background: #0005;
	transition: 0.75s;
}
.Women button a {
	text-decoration: none;
	color: #0009;
	cursor: pointer;
	font-family: Comfortaa-Light;
}